<div class="container">


  <br>
  <h3 class="text-center">Pipe redondeo</h3>
  <p>valor original: {{valor}}</p> 

  <p>valor tranformado por pipe: {{valor | number: '1.0-2': 'ar'}}</p>
  <a href="https://angular.io/api/common/DecimalPipe" target="_blank">Documentación</a>
</div>

<div class="container">
  <h3 class="text-center">Pipe Mayuscula</h3>
  <p>{{texto}}</p>

  <p>valor transformado por pipe: {{texto | uppercase }}</p>
</div>


<div class="container">
  <h3 class="text-center">Pipe moneda pais</h3>
  <p>valor original: {{valor}}</p>


  <p>valor transformado por pipe: {{valor | currency}}</p>
</div>

<div class="container">
  <h3 class="text-center">Pipe fecha</h3>
  <p>valor original: {{fecha}}</p>

  <p>valor transformado por pipe: {{fecha | date:'dd/MM/yyyy'}}</p>
  <p>valor transformado por pipe: {{fecha | date:'dd/MMM/yyyy'}}</p>
</div>